<section class="container">
  <div class="row"></div>
  <div class="row">
    <!-- tabla de usuarios -->
    <div class="valign-wrapper hide-on-small-only">
      <h1 class="no-padding col s12 m9">Listado de Alumnos <a (click)="openCreateUserModal()" materialize="tooltip" class="add-user btn uss-color tooltipped" data-position="right" data-delay="50" data-tooltip="Crear nuevo usuario"><i class="material-icons white-text">add_circle_outline</i></a></h1>
      <div class="input-field col s12 m3 card card-input hoverable">
        <i class="material-icons prefix">search</i>
        <input id="icon_prefix" name="filter" [(ngModel)]="filter" type="text" class="validate card-input">
        <label for="icon_prefix" class="card-input">Buscar Alumno</label>
      </div>
    </div>
    <div class="hide-on-med-and-up">
      <h4 class="no-padding col s12 m9">Listado de Alumnos <a (click)="openCreateUserModal()" materialize="tooltip" class="right add-user btn uss-color tooltipped" data-position="right" data-delay="50" data-tooltip="Crear nuevo usuario"><i class="material-icons white-text">add_circle_outline</i></a></h4>
      <div class="input-field col s12 m3 card card-input hoverable no-margin-top">
        <i class="material-icons prefix">search</i>
        <input id="icon_prefix" name="filter" [(ngModel)]="filter" type="text" class="validate card-input">
        <label for="icon_prefix" class="card-input">Buscar Alumno</label>
      </div>
    </div>
    <div class="card-panel no-margin col s12">
      <table class="striped responsive-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | search:filter">
            <td>{{user.name}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td *ngIf="user.state == 'active'">Activo</td>
            <td *ngIf="user.state == 'inactive'">Bloqueado</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<!-- estructura del modal de creación de usuario -->
<div id="modal1" class="modal white row transparent z-depth-0" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalCreateUser">
  <div class="col s12 m8 offset-m2">
    <form (ngSubmit)="createUser()" class="card-panel row hoverable no-margin" materialize [formGroup]="createUserForm" ngNativeValidate>
      <div class="col s12 center">
        <h5><strong>Crear nuevo alumno</strong></h5>
      </div>
      <div class="input-field col s12">
        <input formControlName="name" id="name" type="text" required class="validate">
        <label for="name">Nombre</label>
      </div>
      <div class="input-field col s12">
        <input formControlName="lastName" id="lastName" type="text" required class="validate">
        <label for="lastName">Apellido</label>
      </div>
      <div class="input-field col s12">
        <input formControlName="password" type="password" required class="validate" (keyup)="onPasswordChange()">
        <label for="icon_prefix">Contraseña</label>
      </div>
      <div class="input-field col s12">
        <input id="confirmPass" formControlName="passwordConfirm" type="password" required (keyup)="onPasswordChange()" [ngClass]="{ invalid: passConfirmationWrong, valid: !passConfirmationWrong }">
        <label for="icon_prefix">Repita la Contraseña</label>
        <span *ngIf="confirm_password.hasError('mismatch')" class="pass-not-match red-text">Las contraseñas deben coincidir.</span>
      </div>
      <div class="row"></div>
      <div class="input-field col s12">
        <input formControlName="email" id="email" type="email" required class="validate">
        <label for="email">Email</label>
      </div>
      <div class="row"></div>
      <div class="col s12">
        <button type="submit" class="hoverable btn col s12 waves-effect waves-light uss-color" value="Crear"><strong class="white-text">Crear</strong></button>
      </div>
      <div class="row"></div>
      <div class="col s12">
        <a (click)="closeCreateUserModal()" class="btn transparent btn-secondary waves-effect col s12">Cancelar</a>
      </div>
    </form>
  </div>
</div>
