<section class="container">
  <div class="row"></div>
  <div class="row valign-wrapper no-margin">
    <h1 class="col left s11">{{ breadcrumb.course | titlecase }}</h1>
    <div class="col right s1">
      <a (click)="openUnitModal()" *ngIf="user.rol !== 'student'" materialize="tooltip" class="right btn uss-color tooltipped" data-position="left" data-delay="50" data-tooltip="Crear nueva unidad"><i class="material-icons white-text">add_circle_outline</i></a>
    </div>
  </div>

  <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
  <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
    <li *ngFor="let unit of units">
      <div class="collapsible-header">
        <h4><strong>Unidad {{ unit.number }}:</strong> {{ unit.title }}</h4>
      </div>
      <div class="collapsible-body">
        <ul class="collection with-header z-depth-1">
          <li class="collection-header">
            <p>{{ unit.description }}</p>
          </li>
          <li class="collection-item row" *ngFor="let lesson of unit.lessons">
            <div class="col s10 no-padding">
              <h5><strong>Lección {{ lesson.number }}:</strong> {{ lesson.title }}</h5>
            </div>
            <div class="col s2">
              <a routerLink="unit/{{ unit.number }}/lesson/{{ lesson.number }}" class="btn uss-color col s10 offset-s2 hoverable">ingresar</a>
            </div>
          </li>
          <li *ngIf="user.rol !== 'student'" class="collection-item row">
            <div class="col s10 no-padding">
              <h5><strong>Crear nueva lección:</strong></h5>
            </div>
            <div class="col s2">
              <a (click)="openLessonModal(unit)" class="btn uss-color col s10 offset-s2 hoverable"><i class="material-icons white-text">add_circle_outline</i></a>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="row"></div>
  <div class="row"></div>
</section>

<!-- estructura del modal de creación de unidad -->
<div id="modal1" class="modal white row transparent z-depth-0" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalNewUnit">
  <div class="col s12 m8 offset-m2">
    <form (ngSubmit)="addUnit()" class="card-panel row hoverable no-margin" materialize [formGroup]="newUnitForm" ngNativeValidate autocomplete="off">
      <div class="col s12 center">
        <h5><strong>Crear nueva unidad</strong></h5>
      </div>
      <div class="input-field col s12">
        <input formControlName="title" id="title" type="text" required class="validate">
        <label for="title">Título</label>
      </div>
      <div class="input-field col s12">
        <textarea formControlName="description" id="description" class="materialize-textarea validate"
          required></textarea>
        <label for="description">Descripción</label>
      </div>
      <div class="col s12">
        Estado:
        <br>
        <p>
          <input name="group1" formControlName="state" type="radio" id="inactive" value="inactive" />
          <label for="inactive">Inactivo</label>
        </p>
        <p>
          <input name="group1" formControlName="state" type="radio" id="active" required value="active" />
          <label for="active">Activo</label>
        </p>
      </div>
      <div class="row"></div>
      <div class="col s12">
        <button type="submit" class="hoverable btn col s12 waves-effect waves-light uss-color" value="Crear"><strong class="white-text">Crear</strong></button>
      </div>
      <div class="row"></div>
      <div class="col s12">
        <a (click)="closeUnitModal()" class="btn transparent btn-secondary waves-effect col s12">Cancelar</a>
      </div>
    </form>
  </div>
</div>

<!-- estructura del modal de creación de lección -->
<div id="modal1" class="modal white row transparent z-depth-0" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalNewLesson">
  <div class="col s12 m8 offset-m2">
    <form (ngSubmit)="addLesson()" class="card-panel row hoverable no-margin" materialize [formGroup]="newLessonForm" ngNativeValidate autocomplete="off">
      <div class="col s12 center">
        <h5><strong>Crear nueva lección</strong></h5>
        <div *ngIf="modalUnit">
          {{ (course_name | titlecase ) + ' | Unidad ' + modalUnit.number + ' | lección ' + (modalUnit.lessons.length + 1) }}
        </div>
      </div>
      <div class="input-field col s12">
        <input formControlName="title" id="title" type="text" required class="validate">
        <label for="title">Título</label>
      </div>
      <div class="col s12">
        <button type="submit" class="hoverable btn col s12 waves-effect waves-light uss-color" value="Crear"><strong class="white-text">Crear</strong></button>
      </div>
      <div class="row"></div>
      <div class="col s12">
        <a (click)="closeLessonModal()" class="btn transparent btn-secondary waves-effect col s12">Cancelar</a>
      </div>
    </form>
  </div>
</div>
