<section class="container">
  <div class="row"></div>
  <div class="row">
    <!-- tabla de Colegios -->
    <div class="valign-wrapper">
      <h1 class="no-padding col s12 m9">Listado de Colegios <a (click)="openCreateSchoolModal()" materialize="tooltip"
          class="add-user btn uss-color tooltipped" data-position="right" data-delay="50"
          data-tooltip="Crear nuevo usuario"><i class="material-icons white-text">add_circle_outline</i></a></h1>
      <div class="input-field col s12 m3 card card-input hoverable">
        <i class="material-icons prefix">search</i>
        <input id="icon_prefix" name="filter" [(ngModel)]="filter" type="text" class="validate card-input">
        <label for="icon_prefix" class="card-input">Buscar Colegio</label>
      </div>
    </div>
    <div class="card-panel no-margin col s12">
      <table class="striped responsive-table">
        <thead>
          <tr>
            <th>Colegio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let school of schools | search:filter">
            <td>{{school.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<!-- estructura del modal de creación de colegio -->
<div id="modal1" class="modal white row transparent z-depth-0" materialize="modal"
  [materializeParams]="[{dismissible: false}]" [materializeActions]="modalCreateSchool">
  <div class="col s12 m8 offset-m2">
    <form (ngSubmit)="createSchool()" class="card-panel row hoverable no-margin" materialize [formGroup]="createSchoolForm" ngNativeValidate autocomplete="off">
      <div class="col s12 center">
        <h5><strong>Crear nuevo colegio</strong></h5>
      </div>
      <div class="input-field col s12">
        <input formControlName="name" id="name" type="text" required class="validate">
        <label for="name">Nombre del Colegio</label>
      </div>
      <div class="row"></div>
      <div class="col s12">
        <button type="submit" class="hoverable btn col s12 waves-effect waves-light uss-color" value="Crear"><strong
            class="white-text">Crear</strong></button>
      </div>
      <div class="row"></div>
      <div class="col s12">
        <a (click)="closeCreateSchoolModal()" class="btn transparent btn-secondary waves-effect col s12">Cancelar</a>
      </div>
    </form>
  </div>
</div>
