<footer class="page-footer uss-color">
  <div class="row"></div>
  <div class="row"></div>
  <div class="container">
    <div class="row">
      <div class="col m4">
        <h5 class="white-text">Síguenos en:</h5>
        <div class="row"></div>
        <span>
          <a href="https://www.instagram.com/ingenieriauss/?hl=es-la" class="grey btn-floating btn-large waves-effect waves-light"><i class="fa fa-instagram"></i></a>
          <a href="https://www.facebook.com/USSFIT/" class="grey btn-floating btn-large waves-effect waves-light"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/ingenieria_uss" class="grey btn-floating btn-large waves-effect waves-light"><i class="fa fa-twitter"></i></a>
          <a href=" https://www.linkedin.com/school/facultad-de-ingenier%C3%ADa-y-tecnolog%C3%ADa-uss/" class="grey btn-floating btn-large waves-effect waves-light"><i class="fa fa-linkedin"></i></a>
        </span>
      </div>
      <div class="row hide-on-med-and-up"></div>
      <div class="col m4">
        <div class="row"></div>
        <a target="blank" href="http://fit.uss.cl/"><img src="../../../assets/imgs/logo-blanco-uss.png"></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright uss-color">
    <div class="container center">
      <hr>
      <div class="row"></div>
      <div class="row"></div>
      <span class="white-text">© 2020. Diseñado por Make iT Lab USS</span>
      <div class="row"></div>
      <div class="row"></div>
    </div>
  </div>
</footer>
