span a{
  transition: background 200ms linear;
}

span a:first-child:hover{
  background-color: #e91e63 !important;
}

span a:nth-child(2):hover{
  background-color: #0264dd !important;
}

span a:nth-child(3):hover{
  background-color: #08a0e9 !important;
}

span a:last-child:hover{
  background-color: #0073b0 !important;
}

img{
  width: 80%;
}

.fit-logo{
  transition: 500ms;
}

.fit-logo:hover{
  transform: scale(1.2);
}

@media only screen and (max-width: 600px) {

  img{
    width: 100%;
  }
  
}