.logo {
  width: 210px;
  padding-top: 10px;
}

nav,
nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
  height: 80px;
  line-height: 80px;
}

nav ul a {
  font-size: 1.3rem;
  padding: 0 25px;
}

ul li#side-nav-logout-btn, ul li#side-nav-login-btn {
  bottom: 10vh;
  position: absolute;
  width: 100%;
}

i.fas {
  color: #1a232f !important;
}

.brand-logo{
  height: 80px;
}
