<section class="container">
  <div class="row"></div>
  <div class="row">
    <!-- tabla de tests -->
    <div class="valign-wrapper hide-on-small-only">
      <h1 class="no-padding col s12">Tests</h1>
      <a (click)="openCreateTestModal()" materialize="tooltip" class="btn uss-color tooltipped" data-position="left" data-delay="50" data-tooltip="Crear nuevo test"><i class="material-icons white-text">add_circle_outline</i></a>
    </div>
    <div class="hide-on-med-and-up">
      <h4 class="no-padding col s12 m9">Test Resueltos</h4>
      <!-- <h4 class="no-padding col s12 m9">Test Resueltos <a (click)="openCreateUserModal()" materialize="tooltip" class="right btn uss-color tooltipped" data-position="left" data-delay="50" data-tooltip="Crear nuevo test"><i class="material-icons white-text">add_circle_outline</i></a></h4> -->
    </div>
    <div class="col m3 no-padding-left">
      <form (ngSubmit)="searchTest()" class="card-panel row hoverable no-margin" materialize [formGroup]="testSearchForm" ngNativeValidate>
        <h5><strong>Buscar Test</strong></h5>
        <div class="input-field col s12 no-padding">
          <input type="text" list="courses" placeholder="Curso" formControlName="course" (change)="getUnitsByCourse()">
          <datalist id="courses">
            <option *ngFor="let course of courses" [value]="course.course"></option>
          </datalist>
        </div>
        <div class="input-field col s12 no-padding">
          <input type="text" list="units" placeholder="Unidad" formControlName="unit" (change)="getLessonsByUnit()">
          <datalist id="units">
            <option *ngFor="let unit of units" [value]="unit.title"></option>
          </datalist>
        </div>
        <div class="input-field col s12 no-padding">
          <input type="text" list="lessons" placeholder="Lección" formControlName="lesson">
          <datalist id="lessons">
            <option *ngFor="let lesson of lessons" [value]="lesson.title"></option>
          </datalist>
        </div>
        <div class="col s12 no-padding">
          <button type="submit" class="hoverable btn col s12 waves-effect waves-light uss-color"><strong class="white-text">Buscar</strong></button>
        </div>
        <div class="row"></div>
        <div class="col s12 no-padding">
          <a (click)="resetFilters()" class="btn transparent btn-secondary waves-effect col s12">Quitar Filtro</a>
        </div>
      </form>
      <br>
      <form (ngSubmit)="downloadTest()" class="card-panel row hoverable no-margin" materialize [formGroup]="downloadTestsForm" ngNativeValidate>
        <h5><strong>Descargar Test</strong></h5>
        <div class="input-field col s12 no-padding">
          <input type="text" list="download_courses" placeholder="Curso" formControlName="course" (change)="getUnitsByCourseOnDownload()" required="true" class="validate">
          <datalist id="download_courses">
            <option *ngFor="let course of courses" [value]="course.course"></option>
          </datalist>
        </div>
        <div class="input-field col s12 no-padding">
          <input type="text" list="download_units" placeholder="Unidad" formControlName="unit" (change)="getLessonsByUnitOnDownload()">
          <datalist id="download_units">
            <option *ngFor="let unit of download_units" [value]="unit.title"></option>
          </datalist>
        </div>
        <div class="input-field col s12 no-padding">
          <input type="text" list="download_lessons" placeholder="Lección" formControlName="lesson">
          <datalist id="download_lessons">
            <option *ngFor="let lesson of download_lessons" [value]="lesson.title"></option>
          </datalist>
        </div>
        <div class="col s12 no-padding">
          <button type="submit" class="hoverable btn col s12 waves-effect waves-light uss-color"><strong class="white-text">Descargar</strong></button>
        </div>
      </form>
    </div>
    <div class="col s12 m9 no-padding-right">
      <div class="card-panel no-margin hoverable">
        <table class="striped responsive-table">
          <thead>
            <tr>
              <th>Alumno</th>
              <th>Curso</th>
              <th>Unidad</th>
              <th>Lección</th>
              <th>Detalle</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let test of tests">
              <td>{{test.student}}</td>
              <td>{{test.course}}</td>
              <td>{{test.unit}}</td>
              <td>{{test.lesson}}</td>
              <td><a (click)="openDetailTestResolvedModal(test)" class="btn uss-color tooltipped" data-position="right" data-delay="50" data-tooltip="Crear nuevo test"><i class="material-icons white-text">expand_more</i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col offset-m4">
        <ul class="pagination card-panel">
          <li (click)="chargePage(lastPage)" class="waves-effect"><a><i class="material-icons">chevron_left</i></a></li>
          <li *ngFor="let page of pages" (click)="chargePage(page.number)" class="waves-effect" [ngClass]="page.state"><a>{{page.number}}</a></li>
          <li (click)="chargePage(nextPage)" class="waves-effect"><a><i class="material-icons">chevron_right</i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- estructura del modal de detalle de test resuelto -->
<div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalDetailTestResolved">
  <div class="modal-content">
    <div *ngIf="detailTest.length > 0" class="row center">
      <h4 class="no-margin"><strong>Detalle de Test</strong></h4>
      <div>
        <strong>{{ detailTest[0].course + ' | ' + detailTest[0].unit + ' | ' + detailTest[0].lesson }}</strong>
      </div>
      <br>
      <div class="col s4 left-align no-padding">
        <strong>Nombre: </strong>{{ detailTest[0].student }}
      </div>
      <div class="col s4 center no-padding">
        <strong>Fecha: </strong>{{ (detailTest[0].datetime | date: 'longDate') }}
      </div>
      <div class="col s4 right-align no-padding">
        <strong>Hora: </strong>{{ (detailTest[0].datetime | date:'hh:mm a') }}
      </div>
      <!-- <p *ngFor="let item of detailTest">{{item | json}}</p> -->
      <div class="row"></div>
      <table class="striped responsive-table">
        <thead>
          <tr>
            <th class="uss-color white-text">Pregunta</th>
            <th class="uss-color white-text">Respuesta</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of detailTest">
            <td>{{item.title}}</td>
            <td *ngIf="item.response !== ''; else noResponse">
              <div *ngFor="let res of item.response">
                <a class="text-uss-color">{{res}}</a>
                <br>
              </div>
            </td>
            <ng-template #noResponse>
              <td>{{'Sin Respuesta'}}</td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <a (click)="closeDetailTestResolvedModal()" class="modal-action modal-close waves-effect waves-green btn uss-color">Cerrar</a>
  </div>
</div>