<div class="full">
  <div class="parallax-container valign-wrapper">
    <div class="parallax" materialize="parallax"><img src="../../../assets/imgs/fondomakeit.png" alt=""></div>
    <div class="container row no-margin-bottom">
      <div class="col s12 m4 offset-m1">
        <form class="card-panel hoverable" materialize [formGroup]="loginForm" (ngSubmit)="login()" ngNativeValidate>
          <div class="row center no-margin">
            <img class="logo" src="../../../assets/imgs/logo-dark.png">
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix text-uss-color">email</i>
            <input formControlName="email" type="email" required class="validate">
            <label for="icon_prefix">Email</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix text-uss-color">lock</i>
            <input formControlName="password" type="password" required class="validate">
            <label for="icon_prefix">Contraseña</label>
          </div>
          <div class="col s12">
            <button type="submit" class="hoverable btn col s12 waves-effect waves-light uss-color" value="Entrar"><strong class="white-text">Entrar</strong></button>
          </div>
          <div class="center">
            <div class="row"></div>
            <a (click)="openModal()" class="text-uss-color">¿Olvidó su contraseña?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- estructura del modal de recuperación de contraseña -->
<div id="modal1" class="modal white row transparent z-depth-0" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="col s12 m6 offset-m3">
    <form class="card-panel row hoverable" materialize [formGroup]="loginForm" ngNativeValidate>
      <div class="row center no-margin">
        <img class="logo" src="../../../assets/imgs/logo-dark.png">
      </div>
      <div class="col s12 center">
        <h5><strong>¿Olvidó su contraseña?</strong></h5>
        <p class="center">Escribe a continuación tu dirección de correo electrónico y te enviaremos las instrucciones para restablecer tu contraseña.</p>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix text-uss-color">email</i>
        <input formControlName="email" type="email" required="true" class="validate">
        <label for="icon_prefix">Email</label>
      </div>
      <div class="col s12">
        <button type="submit" class="hoverable btn col s12 waves-effect waves-light uss-color" value="Entrar"><strong class="white-text">Enviar</strong></button>
      </div>
      <div class="row"></div>
      <div class="col s12">
        <a (click)="closeModal()" class="btn transparent btn-secondary waves-effect col s12">Cancelar</a>
      </div>
    </form>
  </div>
</div>
