<section class="container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
    <div class="col s12 m6 center">
      <h2 class="no-margin-bottom">Oops!</h2>
      <strong>404</strong>
      <h4 class="no-margin-top">Página no encontrada</h4>
      <a routerLink="/courses" class="btn uss-color waves-effect waves-light btn-large hoverable">Regresar a cursos</a>
    </div>
    <div class="col m6 center hide-on-small-only">
      <img src="../../../assets/imgs/search.png">
    </div>
  </div>
</section>