<header class="parallax-container valign-wrapper">
  <div class="parallax" materialize="parallax"><img src="../../../assets/imgs/estudiantes.jpg" alt=""></div>
  <div class="container center">
    <img class="header-logo" src="../../../assets/imgs/logo.png">
  </div>
</header>
<div class="section white">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row container center">

    <!--   Seccion de colaboradores   -->
    <h2 class="header">Colaboradores</h2>
    <div class="section">
      <div class="row">
        <div class="col s12 m4 offset-m2">
          <div class="center promo">
            <div class="promo-logo valign-wrapper">
              <img src="../../../assets/imgs/logoabg.png" alt="">
            </div>
            <p class="promo-caption">ALBERTO BLEST GANA</p>
            <p class="light center">Colegio Alberto Blest Gana.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="center promo">
            <div class="promo-logo valign-wrapper center">
              <img src="../../../assets/imgs/MakeiT_FIT.png" alt="">
            </div>
            <p class="promo-caption">MAKE IT LAB</p>
            <p class="light center">Laboratorio de Innovación y Tecnología de la Universidad San Sebastían.</p>
          </div>
        </div>

        <div class="col s12 m4 hide">
          <div class="center promo">
            <div class="promo-logo valign-wrapper center">
              <img src="../../../assets/imgs/MakeiT_FIT.png" alt="">
            </div>
            <p class="promo-caption">Fácil de trabajar</p>
            <p class="light center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab voluptate tenetur cum nostrum nisi beatae adipisci.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="parallax" materialize="parallax"><img src="../../../assets/imgs/fondomakeit.png" alt=""></div>
  <div class="container center">
    <h2 class="white-text fit-text hide-on-small-only">Conoce acerca de la facultad<br>de Ingeniería y Tecnología de la<br>Universidad San Sebastián</h2>
    <h5 class="white-text fit-text hide-on-med-and-up">Conoce acerca de la facultad<br>de Ingeniería y Tecnología de la<br>Universidad San Sebastián</h5>
    <a href="http://fit.uss.cl/" class="btn teal accent-4 waves-effect waves-light btn-large hoverable">Click Aquí</a>
  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large teal accent-4 hoverable z-depth-2" (click)="scrollTo('header')">
    <i (click)="scrollTo('header')" class="large material-icons">expand_less</i>
  </a>
</div>