<div class="full">
  <div class="parallax-container valign-wrapper">
    <div class="parallax" materialize="parallax"><img src="../../../assets/imgs/fondomakeit.png"></div>
    <div class="container row no-margin-bottom">
      <div class="col s12 m4 offset-m1">
        <form class="card-panel row hoverable" (ngSubmit)="restorePass()" materialize [formGroup]="restorePassForm" ngNativeValidate>
          <div class="row center no-margin">
            <img class="logo" src="../../../assets/imgs/logo-dark.png">
          </div>
          <div class="col s12 center">
            <h5><strong>Restaurar contraseña</strong></h5>
            <p class="center">Para recuperar el acceso a tu cuenta crea una nueva contraseña a continuación.</p>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix text-uss-color">lock</i>
            <input formControlName="password" type="password" required="true" class="validate" (keyup)="onPasswordChange()">
            <label for="icon_prefix">Nueva Contraseña</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix text-uss-color">lock</i>
            <input formControlName="passwordCheck" type="password" required="true" class="validate" (keyup)="onPasswordChange()" [ngClass]="{ invalid: passConfirmationWrong, validate: !passConfirmationWrong }">
            <label for="icon_prefix">Verificar Contraseña</label>
            <span *ngIf="confirm_password.hasError('mismatch')" class="pass-not-match red-text">Las contraseñas deben coincidir.</span>
          </div>
          <div class="row"></div>
          <div class="col s12">
            <button type="submit" class="hoverable btn col s12 waves-effect waves-light uss-color" value="Entrar"><strong class="white-text">Entrar</strong></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
