<section class="container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
    <div class="col s12 m4" *ngFor="let course of courses">
      <div class="card hoverable">
        <div class="card-image">
          <img [src]="course.img_url">
          <span class="card-title text-shadow"><strong class="white-text">{{ course.course | titlecase }}</strong></span>
        </div>
        <div class="card-content">
          <ul>
            <li><i class="material-icons left">school</i><strong>{{ course.teacher | titlecase }}</strong></li>
          </ul>
        </div>
        <div class="card-action center">
          <a class="btn waves-effect waves-light uss-color" routerLink="{{ course.course_id }}/{{ course.course }}">Ingresar</a>
        </div>
      </div>
    </div>
  </div>
</section>