<section class="container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
    <div class="col s12 m4" *ngFor="let course of courses">
      <div class="card hoverable">
        <div class="card-image">
          <img [src]="course.img_url">
          <span class="card-title text-shadow"><strong class="white-text">{{ course.course | titlecase }}</strong></span>
        </div>
        <div class="card-content">
          <ul>
            <li><i class="material-icons left">school</i><strong>{{ course.teacher | titlecase }}</strong></li>
          </ul>
        </div>
        <div class="card-action center">
          <a class="btn waves-effect waves-light uss-color" routerLink="{{ course.course_id }}/{{ course.course }}">Ingresar</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4" *ngIf="user.rol == 'teacher'">
      <div class="card hoverable">
        <div class="card-image uss-color-gradient valign-wrapper">
          <!-- <img [src]="course.img_url"> -->
          <i class="material-icons grey-text center-block fa-10x">add_circle_outline</i>
          <span class="card-title text-shadow"><strong class="white-text">Crear nuevo curso</strong></span>
        </div>
        <div class="card-content">
          <ul>
            <li><i class="material-icons left">school</i><strong>{{ user.name + ' ' + user.lastName | titlecase }}</strong></li>
          </ul>
        </div>
        <div class="card-action center">
          <a class="btn waves-effect waves-light uss-color">Crear</a>
        </div>
      </div>
    </div>
  </div>
</section>