<section class="container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <h1>{{ breadcrumb.course }}</h1>
  <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
  <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <h4><strong>Actividad 1:</strong> Lorem ipsum dolor sit amet consectetur.</h4>
      </div>
      <div class="collapsible-body">
        <ul class="collection with-header z-depth-1">
          <li class="collection-header">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus error architecto quia? Fugit minus possimus qui error a fugiat sapiente voluptate vero laboriosam? Debitis dolores voluptate architecto pariatur suscipit voluptates.</p>
          </li>
          <li class="collection-item">
            <strong>Aquí van los videos, tests o simulaciones.</strong>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <h4><strong>Actividad 2:</strong> Lorem ipsum dolor sit amet consectetur.</h4>
      </div>
      <div class="collapsible-body">
        <ul class="collection with-header z-depth-1">
          <li class="collection-header">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus error architecto quia? Fugit minus possimus qui error a fugiat sapiente voluptate vero laboriosam? Debitis dolores voluptate architecto pariatur suscipit voluptates.</p>
          </li>
          <li class="collection-item">
            <strong>Aquí van los videos, tests o simulaciones.</strong>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <h4><strong>Actividad 3:</strong> Lorem ipsum dolor sit amet consectetur.</h4>
      </div>
      <div class="collapsible-body">
        <ul class="collection with-header z-depth-1">
          <li class="collection-header">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus error architecto quia? Fugit minus possimus qui error a fugiat sapiente voluptate vero laboriosam? Debitis dolores voluptate architecto pariatur suscipit voluptates.</p>
          </li>
          <li class="collection-item">
            <strong>Aquí van los videos, tests o simulaciones.</strong>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="row"></div>
  <div class="row"></div>
</section>
