<section class="container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row hide-on-small-only"></div>
  <div class="row hide-on-small-only"></div>
  <h1>{{ breadcrumb.course | titlecase }}</h1>
  <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
  <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
    <li *ngFor="let activity of activities">
      <div class="collapsible-header">
        <h4><strong>Actividad {{ activity.number }}:</strong> {{ activity.title }}</h4>
      </div>
      <div class="collapsible-body">
        <ul class="collection with-header z-depth-1">
          <li class="collection-header">
            <p>{{ activity.description }}</p>
          </li>
          <div class="video-container">
            <iframe *ngIf="activity.type == 'video'" width="100%" height="auto" [src]="activity.url | safeUrl" frameborder="0" allowfullscreen></iframe>
            <iframe *ngIf="activity.type == 'simulator'" width="100%" height="700" [src]="activity.url | safeUrl" frameborder="0" allowfullscreen></iframe>
          </div>
        </ul>
      </div>
    </li>

    <!-- test structure -->
    <li>
      <div class="collapsible-header">
        <h4><strong>Actividad {{ activities.length + 1 }}:</strong> Test de conocimientos.</h4>
      </div>
      <div class="collapsible-body">
        <div class="card-panel white">
          <h4><strong>Pone a prueba tus conocimientos!</strong></h4>
          <div class="row">

            <form class="col s12">

              <!-- pregunta con text area -->
              <div class="row">
                <h5 class="col s12">
                  <strong>1.-</strong> Esta es una pregunta de desarrollo.
                </h5>
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea grey lighten-3"></textarea>
                </div>
              </div>

              <!-- pregunta con una alternativa correcta -->
              <div class="row">
                <h5 class="col s12">
                  <strong>2.-</strong> Esta es una pregunta con una alternativa correcta.
                </h5>
                <div class="col s12">
                  <p>
                    <input name="group1" type="radio" id="test1" />
                    <label for="test1">Red</label>
                  </p>
                  <p>
                    <input name="group1" type="radio" id="test2" />
                    <label for="test2">Yellow</label>
                  </p>
                  <p>
                    <input name="group1" type="radio" id="test3" />
                    <label for="test3">Green</label>
                  </p>
                  <p>
                    <input name="group1" type="radio" id="test4" />
                    <label for="test4">Brown</label>
                  </p>
                </div>
              </div>

              <!-- pregunta con selección múltiple-->
              <div class="row">
                <h5 class="col s12">
                  <strong>3.-</strong> Esta es una pregunta con selección múltiple.
                </h5>
                <div class="col s12">
                  <p>
                    <input type="checkbox" class="filled-in" id="test5" />
                    <label for="test5">Red</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="test6" />
                    <label for="test6">Yellow</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="test7" />
                    <label for="test7">cyan</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="test8" />
                    <label for="test8">Green</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="test9" />
                    <label for="test9">Brown</label>
                  </p>
                </div>
              </div>

              <div class="center">
                <button class="btn btn-large uss-color waves-effect waves-light" type="submit" name="action">Enviar
                  <i class="material-icons right white-text">send</i>
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="row"></div>
  <div class="row"></div>
</section>
