/* You can add global styles to this file, and also import other style files */
*{
  color: #1a232f;
}

.text-uss-color{
  color: #1a232f !important;
}

.uss-color{
  background-color: #1a232f;
}

.text-shadow {
  text-shadow: 2px 2px 4px #000;
}

.container {
  width: 85%;
}

a:hover:not(.title):not(.btn) {
  transition: 500ms;
  color: #2bbbad !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-border {
  border: 0 !important;
}

.no-shadow {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}