/* You can add global styles to this file, and also import other style files */
* {
  color: #1a232f;
}

.text-uss-color {
  color: #1a232f;
}

.uss-color {
  background-color: #1a232f;
}

.text-shadow {
  text-shadow: 2px 2px 4px #000;
}

.container {
  width: 85%;
}

.pagination li.active {
  background-color: #1a232f;
}

.pagination{
  padding: 10px 0;
}

a:hover:not(.title):not(.btn) {
  transition: 500ms;
  color: #2bbbad !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-border {
  border: 0 !important;
}

.card-image img {
  object-fit: cover;
  min-height: 150px;
  transition: 2000ms;
}

.card:hover .card-image img {
  transform: scale(1.2);
}

.card-image {
  height: 150px;
  overflow: hidden;
}

.collection.with-header .collection-item {
  height: 60px;
}

.collection-item strong{
  font-size: 1.64rem;
}

.btn-secondary {
  text-decoration: none;
  color: #1a232f;
  border: 2px solid #1a232f;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  font-weight: bold;
}

.material-tooltip, .material-tooltip span, .material-tooltip .backdrop {
  color: white !important;
  border: 0;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
.input-field .prefix.active,
button.btn-flat.picker__today.waves-effect,
button.btn-flat.picker__close.waves-effect,
.picker__day.picker__day--infocus.picker__day--today.picker__day--highlighted,
.picker__day.picker__day--infocus.picker__day--today {
  color: #1a232f;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #1a232f;
  box-shadow: 0 1px 0 0 #1a232f;
}

input {
  color: #1a232f !important;
}

.modal {
  max-height: fit-content;
}

.delete-hover:hover {
  background-color: #b71c1c !important;
}

td, th {
  width: 20% !important;
}

td:last-child, th:last-child {
  width: 5% !important;
}

.modal{
  top: 5% !important;
}

@media only screen and (max-width: 600px) {
  
  .change-state-btn {
    position: absolute;
    margin: 0 10%;
    top: 260px;
  }

  tbody, tr {
    height: 306px;
    overflow-y: hidden;
  }

}